{% extends "base.html" %}
{% load static %}
{% block title %}{{ post.title }} {% endblock %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-datils.css" %}" >
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>{{ post.title }}</h2>
        <article>
            <img src="{% static "blog/images/"|add:post.image %}" alt="Post titel"/>
            <address>By {{ post.author }}</address>
            <div>
                Last Updated on
                <time>{{ post.date |date:"d M Y" }}</time>
            </div>
        </article>

        <main>
            {{ post.content|linebreaks }}
        </main>

    </section>
{% endblock %}